{% load static %}

<div class="row">
	{% for con in instance %}
	<div class="col-xs-6 col-sm-3 col-md-3">
		<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-33">
			<h3 class="mg-md tc-cerulean">
				<span class="et-icon-focus"></span> {{con.country}}
			</h3>
			<p>
			{{con.address1}}{{con.address2}}<br/>{{con.city}},{{con.pin}}
			</p>
		</div>
	</div>
	{% endfor %}
</div>