<!doctype html>
{% load static %}
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="keywords" content="DigitalPrizm, ERP, CRM, HRM, BI, Data Analytics, Software Development, Mobile Development, Grapp">
	    <meta name="description" content="Digital Prizm is a leading software development company with its presence in  5 countries. Digitalprizm specialised in custom application development to improve the productivity of companies. ">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	    <link rel="shortcut icon" type="image/png" href="favicon.png" />
	    
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
		<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}"/>
		<link rel='stylesheet' href="{% static 'css/et-line.min.css' %}"/>
		<link href="{% static 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' %}" rel='stylesheet' type='text/css'>
	    
		<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/blocs.min.js' %}"></script>
	    <title>Digital Prizm | Home </title>

	</head>
	<body>
	<!-- Main container -->
		<div class="page-container">

			<!-- homeheader -->
			{% for obj in instance %}
			<div class="bloc b-parallax bg-city-overlay bgc-cerulean d-bloc" style="background-image:url({{obj.bgimage.url}}) " id="homeheader">
				<div class="container bloc-xl">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="mg-md  text-center">
								{{obj.title}}
							</h3>
							<p class=" text-center">
								{{obj.description}}
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- homeheader END -->
			<!-- bloc-2 -->
			<div class="bloc feature-list bg-dots-bg bg-repeat bgc-white l-bloc" id="bloc-2">
				<div class="container bloc-lg">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="text-center mg-md  tc-cerulean mainheader">
								WHY US
							</h2>
						</div>
					</div>
					<div class="row voffset animated">
						{% for obj in instance2 %}
						<div class="col-sm-5 col-md-6">
							<div class="col-sm-9 col-md-12">
								<div class="text-center">
									<span class="fa fa-heart icon-round icon-md whybuildicon icon-android-green"></span>
								</div>
								<h3 class="mg-md whybuild text-left text-center  tc-cerulean">
									{{obj.why_us_title}} 
								</h3>
								<p class="whybuildcontent text-left text-center ">
									{{obj.why_us_description}}
								</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- bloc-3 -->
			<div class="bloc bgc-cerulean d-bloc" id="bloc-3">
				<div class="container bloc-lg">
					<div class="row">
						
						<div class="col-sm-12">
							{% for obj in instance3 %}
							<h3 class="mg-md text-center homeourcause animated tc-white">
							{{obj.slogan_title}}
							</h3>
							{% endfor %}
						</div>
						
					</div>
				</div>
			</div>
			<!-- bloc-3 END -->
		</div>
		<!-- Main container END -->
		    

	</body>
	    
	<!-- Google Analytics -->
	 
	<!-- Google Analytics END -->

</html>
