<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page Details</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method = "POST" action ="" enctype="multipart/form-data"> 
			{% csrf_token %}
			<div class ="container">
				<div class="panel panel-primary">
					<div class="panel-heading">Home-page Slogan Contents</div>
					<div class="panel-body">
						<label for ="slogan" > Enter the slogan quotes : </label>
						<textarea value ="" name ="slogan" placeholder ="Slogan Quotes"></textarea><br>
						<input type ="submit" value="Submit" class = "btn btn-success"/>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>