<!doctype html>
{% load static %}
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="keywords" content="DigitalPrizm, ERP, CRM, HRM, BI, Data Analytics, Software Development, Mobile Development, Grapp">
	    <meta name="description" content="Digital Prizm is a leading software development company with its presence in  5 countries. Digitalprizm specialised in custom application development to improve the productivity of companies. ">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	    <link rel="shortcut icon" type="image/png" href="favicon.png" />
	    
		<link rel="stylesheet" type="text/css" href= "{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
		<link rel="stylesheet" href=" {% static 'css/animate.min.css' %}" />
		<link rel='stylesheet' href=" {% static 'css/font-awesome.min.css' %}"/>
		<link rel='stylesheet' href=" {% static 'css/et-line.min.css' %}"/>
		<link rel='stylesheet' href=" {% static 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' %}" type='text/css'>
	    
		<script src=" {% static 'js/jquery-2.1.0.min.js' %}"></script>
		<script src=" {% static 'js/bootstrap.min.js' %}"></script>
		<script src=" {% static 'js/blocs.min.js' %}"></script>
	    <title>Digital Prizm | Big Data</title>

	</head>
	<body>
		<!-- Main container -->
		<div class="page-container">
		    
		<!-- bloc-0 -->
		<div class="bloc bgc-white l-bloc" id="bloc-0">
			<div class="container bloc-sm">
				<nav class="navbar row">
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html"><img src="img/logo%20Artwork_only%20logo.png" alt="logo" width="160" /></a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
							<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav navbar-nav">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li>
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Services<span class="caret"></span></a>
									<ul id="newBlocMenuGenerate" class="dropdown-menu" role="menu">
										<li>
											<a href="big-data.html">Big Data</a>
										</li>
										<li>
											<a href="mobile-development.html">Mobile Development</a>
										</li>
										<li>
											<a href="software-development.html">Software Development</a>
										</li>
									</ul>
								</div>
							</li>
							
							<li>
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Products<span class="caret"></span></a>
									<ul id="newBlocMenuGenerate" class="dropdown-menu" role="menu">
										<li>
											<a href="crm.html">CRM</a>
										</li>
										<li>
											<a href="hrm.html">HRM</a>
										</li>
										<li>
											<a href="erp.html">ERP</a>
										</li>
										<li>
											<a href="http://www.grapp.sg" id="pl-undefined">GRAPP</a>
										</li>
									</ul>
								</div>
							</li>
							
							<!-- <li>
								<a href="contact-us.html">Contact Us</a>
							</li> -->
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- bloc-0 END -->

		<!-- bloc-14 -->
		{% for obj in instance %}
		<div class="bloc bgc-cerulean bg-analytics d-bloc" style=" background-image:url({{obj.bd_bgimage.url}})" id="bloc-14">
			<div class="container bloc-lg">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="mg-md  text-center">
							{{obj.bd_title}}
						</h3>
						<p class=" text-center">
							{{obj.bd_description}}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- bloc-14 END -->

		<!-- Bloc Group -->
		<div class='bloc-group'>

		<!-- bloc-15 -->
		<div class="bloc bloc-tile-2 tc-android-green bg-repeat bgc-white-smoke" id="bloc-15">
			<div class="container bloc-lg">
				<div class="row animated">
					{% for obj in instance2 %}
					<div class="col-sm-12">
						<blockquote>
							<p>
								{{obj.bd_title}}
							</p>
						</blockquote>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- bloc-15 END -->

		<!-- bloc-16 -->
		<div class="bloc bloc-tile-2 bg-repeat bgc-white l-bloc" id="bloc-16">
			<div class="container bloc-lg">
				<div class="row">
					{% for obj in instance3 %}
					<div class="col-sm-12">
						<p>
							{{obj.bd_description}}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- bloc-16 END -->
		</div>
		<!-- Bloc Group END -->

		<!-- bloc-17 -->
		<div class="bloc bg-repeat bgc-gainsboro l-bloc" id="bloc-17">
			<div class="container bloc-lg">
				<div class="row">
					{% for obj in instance4 %}
					<div class="col-sm-3">
						<div class="text-center">
							<span class="et-icon-recycle icon-md"></span>
						</div>
						<h3 class="text-center mg-md  tc-cerulean">
							{{obj.bd_title}}
						</h3>
						<p class="text-center ">
							{{obj.bd_description}}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- bloc-17 END -->

		<!-- bloc-18 -->
		<div class="bloc bgc-white l-bloc" id="bloc-18">
			<div class="container bloc-lg">
				<div class="row">
					{% for obj in instance5 %}
					<div class="col-sm-12">
						<h3 class="mg-md text-center ">
							<span class="et-icon-bargraph icon-cerulean">{{obj.bd_title}}</span>
						</h3>
						<p class=" text-center">
							{{obj.bd_description}}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- bloc-18 END -->

		<!-- Bloc Group -->
		<div class='bloc-group'>

		<!-- bloc-19 -->
		<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-19">
			<div class="container bloc-lg">
				<div class="row">
					{% for obj in instance6 %}
					<div class="col-sm-5 col-md-6">
						<div class="col-sm-9 col-md-12">
							<h3 class="mg-md  tc-cerulean">
								{{obj.bd_title}}
							</h3>
							<p>
								{{obj.bd_description}}
							</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		</div>
		<!-- bloc-19 END -->
		<!-- ScrollToTop Button -->
		<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
		<!-- ScrollToTop Button END-->


		<!-- Footer - bloc-40 -->
		{% include 'contact_us.html' %}
		<div class="bloc tc-cool-grey bgc-white l-bloc footer-bkg" id="bloc-40">
			<div class="container bloc-sm">
			</div>
				<hr>
				<div class="row">
					<div class="col-sm-3 col-md-10">
						<a href="#" class="contactus"><span class="et-icon-envelope icon-spacer icon-android-green"></span>contact@digitalprizm.net</a>
					</div>
					<div class="col-sm-3 col-md-2">
						<p class=" text-center">
							© 2011-2016 Digital Prizm.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer - bloc-40 END -->
		</div>
		<!-- Main container END -->
	</body>
	    
	<!-- Google Analytics -->
	 
	<!-- Google Analytics END -->

</html>